.ms-container{
  background: transparent url('switch.png') no-repeat 50% 50%;
  /*width: 600px;*/
  width: 100%;
  padding:10px 20px; 
}

.ms-container:after{
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden;
}

.ms-container .ms-selectable, .ms-container .ms-selection{
  background: #fff;
  color: #555555;
  float: right;
  width: 45%;
}
.ms-container .ms-selection{
  float: left;
}

.ms-container .ms-list{
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  height: 400px;
  padding: 0;
  overflow-y: auto;
}

.ms-container .ms-list.ms-focus{
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}

.ms-container ul{
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.ms-container .ms-optgroup-container{
  width: 100%;
}

.ms-container .ms-optgroup-label{
  margin: 0;
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  color: #999;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection{
  border-bottom: 1px #eee solid;
  padding: 6px 10px;
  color: #555;
  font-size: 14px;
  line-height: 48px;
  position: relative;
}
.ms-container .ms-selectable li.ms-elem-selectable span,
.ms-container .ms-selection li.ms-elem-selection span{
  padding-left: 5px;
  display: inline-block;
}
.ms-container .ms-selectable li.even,
.ms-container .ms-selection li.even{
  background: #fcfcfc;
}
.ms-container .ms-selectable li.ms-elem-selectable em{
  display: none;
}
.ms-container .ms-selection li.ms-elem-selection i{
   display: none;
}
.ms-container .ms-selectable li.ms-elem-selectable i{
  padding-left: 50px;
  font-size: 12px;
  color:#d8d8d8; 
  font-style: normal;
  /*float:right;*/
  position: absolute;
  right: 10px;
  top:10px;
}
.ms-container .ms-selectable li.ms-hover i{
  color:#fff;
}
.ms-container .ms-selectable li.disabled i{
  color:#e8e8e8;
}

.ms-container .ms-selection li.ms-elem-selection em{
  padding-left: 50px;
  font-size: 12px;
  color:#d8d8d8; 
  font-style: normal;
  /*float:right;*/
  position: absolute;
  right: 10px;
  top:10px;
}

.ms-container .ms-selection li.ms-hover em{
  color:#fff;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover{
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #08c;
}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled{
  background-color: #e8e8e8;
  color: #aaa;
  cursor: text;
}

.ms-container .ms-selectable li.disabled img,
.ms-container .ms-selection li.disabled img{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    
    filter: grayscale(100%);
  
    filter: gray;
 
}
.ms-container .ms-selection li.installed{
  
}
.ms-container .ms-selectable li.installed:after{

  content:url('installedTag.png');
  position: absolute;
  right: 10px;
  top: -1px;
  z-index:999;
}
/*选中部分*/


.ms-container .ms-selection li.ms-selected:after{
  content:url('newTag.png');
  position: absolute;
  right: 10px;
  top: -1px;
  z-index:999;
}
.ms-container .ms-selection li.installed:after{
  content:'';
  position: absolute;
  right: 10px;
  top: -1px;
  z-index:999;
}

.ms-container .ms-selectable li.disabled:after,.ms-container .ms-selection li.disabled:after{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    
    filter: grayscale(100%);
  
    filter: gray;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
/* IE10、11-不支持 filter; 应用选择列表设置灰色改半透明 */ 
.ms-container .ms-selectable li.disabled img,.ms-container .ms-selection li.disabled img,.ms-container .ms-selectable li.disabled:after,.ms-container .ms-selection li.disabled:after{
   
    filter:alpha(opacity=50);
    opacity: 0.5;
 
  }
} 
/*.ms-list li img{float: left; margin-top: 5px;}
.ms-list li span{display: block;width: 180px; overflow: hidden;white-space:nowrap;text-overflow:ellipsis; }*/