<?xml version="1.0" encoding="UTF-8"?>
<AppInfo>
	<Name>业务名称</Name>
	<Device>设备型号</Device>
	<Code>业务代号（用于区分不同业务）</Code>
	<Version>版本号</Version>
	<Description>更新日志（针对上一版本的更新内容）</Description>
	<FileList>
		<File>
			<Name>App名称</Name>
			<Size>App大小</Size>
			<MD5>App校验值</MD5>
		</File>
	</FileList>
</AppInfo>

