<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd">

	<!-- 输出日志配置 -->
	<bean id="log-filter" class="com.alibaba.druid.filter.logging.Slf4jLogFilter">
    	<property name="dataSourceLogEnabled" value="false" />
    	<property name="connectionLogEnabled" value="false" />
    	<property name="connectionLogErrorEnabled" value="false" />
    	<property name="statementLogEnabled" value="true" />
    	<property name="statementLogErrorEnabled" value="false" />
    	<property name="resultSetLogEnabled" value="false" />
    	<property name="resultSetLogErrorEnabled" value="false" />
    	<property name="connectionConnectBeforeLogEnabled" value="false" />
    	<property name="connectionConnectAfterLogEnabled" value="false" />
    	<property name="connectionCommitAfterLogEnabled" value="false" />
    	<property name="connectionRollbackAfterLogEnabled" value="false" />
    	<property name="connectionCloseAfterLogEnabled" value="false" />
    	<property name="statementCreateAfterLogEnabled" value="false" />
    	<property name="statementPrepareAfterLogEnabled" value="false" />
    	<property name="statementPrepareCallAfterLogEnabled" value="false" />
    	<property name="statementExecuteAfterLogEnabled" value="false" />
    	<property name="statementExecuteQueryAfterLogEnabled" value="true" />
    	<property name="statementExecuteUpdateAfterLogEnabled" value="true" />
    	<property name="statementExecuteBatchAfterLogEnabled" value="true" />
    	<property name="statementExecutableSqlLogEnable" value="false" />
    	<property name="statementCloseAfterLogEnabled" value="false" />
    	<property name="statementParameterClearLogEnable" value="false" />
    	<property name="statementParameterSetLogEnabled" value="false" />
    	<property name="resultSetNextAfterLogEnabled" value="false" />
    	<property name="resultSetOpenAfterLogEnabled" value="false" />
    	<property name="resultSetCloseAfterLogEnabled" value="false" />
	</bean>
	
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<!-- 基本属性 url、user、password -->
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/ibs?useUnicode=true&amp;characterEncoding=UTF8&amp;autoReconnect=true" />
		<property name="username" value="root" />
		<property name="password" value="centerm" />

		<!-- 初始化时建立的物理连接个数 -->
		<property name="initialSize" value="20" />
		<!-- 最大连接数量 -->
		<property name="maxActive" value="100" />
		<!-- 最小连接数量 -->
		<property name="minIdle" value="10" />
		<!-- 获取连接时的最大等待时间（毫秒） -->
		<property name="maxWait" value="60000" />
		
		<!-- 是否启用PSCache，mysql5.5版本及以上建议开启 -->
		<property name="poolPreparedStatements" value="true" />
		<property name="maxPoolPreparedStatementPerConnectionSize" value="50" />
		
		<!-- 用于检测连接是否有效的查询语句 -->
		<property name="validationQuery" value="SELECT 1" />
		<!-- 申请连接时执行validationQuery，若启用会降低性能 -->
		<property name="testOnBorrow" value="false" />
		<!-- 归还连接时执行validationQuery，若启用会降低性能 -->
		<property name="testOnReturn" value="false" />
		<!-- 申请连接时，如果空闲时间大于timeBetweenEvictionRunsMillis，则执行validationQuery -->
		<property name="testWhileIdle" value="true" />
		
		<!-- 连接空闲时间超过该值时（毫秒），则被回收 -->
		<property name="timeBetweenEvictionRunsMillis" value="600000" />
		<!-- 连接在连接池中的最小生存时间（毫秒） -->
		<property name="minEvictableIdleTimeMillis" value="300000" />

		<!-- 监控统计filters -->
		<property name="filters" value="stat" />
		
		<property name="proxyFilters">
	        <list>
	            <ref bean="log-filter"/>
	        </list>
	    </property>
	</bean>

	<!-- sessionFactory配置 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- entity包扫描范围 -->
		<property name="packagesToScan">
			<list>
				<value>com.centerm.entity</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<!-- 数据库方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<!-- 是否打印sql语句 -->
				<prop key="hibernate.show_sql">true</prop>
				<!-- sql语句格式化 -->
				<prop key="hibernate.format_sql">true</prop>
				<!-- 是否在sql中生成注释信息 -->
				<prop key="hibernate.use_sql_comments">false</prop>
				<!-- 定义currentSession -->
				<prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext
				</prop>
			</props>
		</property>
	</bean>

	<!-- 事务配置 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 开启注解配置事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>