
    .center-tool-bar{
      position: relative;
    }
    .menu-row{
      widows: 100%;
      padding: 10px 40px;
    }
    .apps-lib{
      width: 45%;
      float: right;
      color: #333;
      position: relative;
    }
    .apps-select{
      width: 45%;
      float: left;
      color: #333;
    }
    .apps-setting-btn{
      position: absolute;
      right: 10px;
      top: 0px;
    }
    #reset-btn{
      position: absolute;
      left: 50%;
      top:100px;
      margin-left: -25px; 
    }