div#rMenu {
	position: absolute;
	visibility: hidden;
	top: 0;
	background-color: #fff;
	text-align: left;
	padding: 2px;
	border: #fefefe solid 1px;
	-webkit-box-shadow: 0px 0px 3px #c6c6c6;
	-moz-box-shadow: 0px 0px 3px #c6c6c6;
	box-shadow: 0px 0px 3px #c6c6c6;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);/*for ie6,7,8*/
}

div#rMenu ul {
	padding: 0px;
	margin: 0px;
}

div#rMenu ul li {
	margin: 1px 0;
	padding: 0 5px;
	cursor: pointer;
	list-style: none outside none;
	background-color: #fff;
	font-size: 12px;
	height: 22px;
	line-height: 22px;
}

div#rMenu ul li:hover {
	background-color: #e3edff;
}

.main-content-wrap {
	padding: 20px;
}

.content-wrap {
	width: 30%;
	border: #dcdcdc solid 1px;
	padding: 10px;
	float: left;
	overflow: auto;
}

.outlets-infor-text {
	color: #999;
	padding: 0 10px;
}

.outlet-infor-detail {
	width: 70%;
	/*border: #dcdcdc solid 1px;*/
	padding: 10px;
	float: left;
}

.outlet-infor-detail dd {
	color: #999;
}

.dl-horizontal dt {
	width: 132px;
	color: #333;
}

.dl-horizontal dd {
	margin-left: 156px;
	color: #999;
	line-height: 24px;
}

.ztree li span.button.ico_docu{
	margin-right: 2px;
	background-position: -145px -80px;
	vertical-align: top;

}
.ztree li span.button.ico_close{
	margin-right: 2px;
	background-position: -129px 0;
	vertical-align: top;
}
.ztree li span.button.ico_open {
        margin-right: 2px;
        background-position: -129px -16px;
        vertical-align: top;
}